{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}Warcraft III{% endblock %}</title>
  <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />
	<link rel="stylesheet" href="{% static 'fonts/material/material-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav>
  <div class="nav-wrapper indigo">
    <a href="/" class="brand-logo"><img src="{% static 'img/Warcraft-3.png' %}" ></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>
  <div id="content">
  {% block content %}{% endblock %}
  </div>
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>

  {% block maestro_scripts %}
  {% endblock maestro_scripts %}
</html>