{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}Warcraft III{% endblock %}</title>
  <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />
	<link rel="stylesheet" href="{% static 'fonts/material/material-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/personal/">Ver perfil</a></li>
  <li><a class="modal-trigger waves-effect waves-light" href="#" id="btnCambioPassword">Cambiar contraseña</a></li>
  <li class="divider"></li>
  <li><a href="/logout"><i class="material-icons">lock_outline</i></a></li>
</ul>


<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="{% static 'img/wctft1.png' %}" ></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Replays</a></li>
        <li><a href="#">Torneos</a></li>
        <li><a href="#">Brackets</a></li>
       {% if request.session.persona  %}
            
        <li><a  class="dropdown-button" href="#!" data-activates="dropdown1">{{request.session.persona}}<i class="material-icons right">arrow_drop_down</i></a></li>
        {% else %}
            <li><a href="/login"><i class="material-icons">lock_outline</i></a></li>
        {% endif %}
        
      </ul>

      <ul id="nav-mobile" class="side-nav">
        
        <li><div class="userView">

          <div class="background">
            <img src="{% static 'img/img51.jpg' %}">
          </div>
          {% if request.session.persona  %}
            <a href="/personal/"><img class="circle" src="/media/{{persona.foto}}"></a>
            <a href="/personal/"><span class="white-text name">{{request.session.persona}}</span></a>
            <a href="/personal/"><span class="white-text email">{{request.session.email}}</span></a>
          {% else %}
            <a href="/"><img class="circle" src="{% static 'img/Warcraft-31.png' %}"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
          {% endif %}
          
          </div>
        </li>

        <li><a href="/"><i class="material-icons">home</i>Inicio</a></li>
        <li><a href="#"><i class="material-icons">theaters</i>Replays</a></li>
        <li><a href="#"><i class="material-icons">language</i>Torneos</a></li>
        <li><a href="#"><i class="material-icons">dns</i>Brackets</a></li>
        {% if request.session.persona  %}
        <li class="divider"></li>
        <li><a href="/personal/"><i class="material-icons">assignment_ind</i>Ver perfil</a></li>
        <li><a href="/logout"><i class="material-icons">lock_outline</i>Cerrar Cession</a></li>
        {% else %}
            <li><a href="/login"><i class="material-icons">lock_outline</i>Login</a></li>
        {% endif %}

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<div id="modalPassword" class="modal ">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a id="btnGuardarPassword" href="#" class="modal-action waves-effect waves-green btn-flat ">Guardar</a>
    </div>
  </div>

  {% block content %}{% endblock %}

</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>


  {% block maestro_scripts %}

  {% endblock maestro_scripts %}

  <script type="text/javascript">
   $('.modal').modal();
  $(".button-collapse").sideNav();
   $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 300
      // edge: 'right', // Choose the horizontal origin
      closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
    }
  );
    $('.dropdown-button').dropdown('open');
   </script>
</html>