{% extends "base.html" %}

{% load static %}


{% block content %}
<br>
<br>
<br>
<style>
.contenedor {
	width: 400px;
	background: red;
}
.centrar {
   margin: 5px auto ; 

}
body {
	background: #00796b
}
</style>
<div class="row contenedor">
	<div class="">
	  <div class="card teal accent-1 hoverable centrar">
		    <div class="card-content black-text">
	      		<span class="card-title">Login</span>
       			<div class="row">
				    <form class="col s12" id="formLogin">
				    
				      <div class="row">
				        <div class="input-field col s12">
				        {% csrf_token %}
				          <i class="material-icons prefix">account_circle</i>
				          <input autofocus id="txtusuario" type="text" class="validate" name="txtusuario">
				          <label for="icon_prefix">Usuario</label>
				        </div>
				        <div class="input-field col s12">
				          <i class="material-icons prefix ">lock_outline</i>
				          <input id="txtpassword" type="password" class="validate" name="txtpassword">
				          <label for="icon_lock_outline">Contraseña</label>
				        </div>
				      </div>
				    </form>
  				</div>
	        </div>
	        <div class="card-action right-align teal darken-1">
	          <a href="#" id="btnLogin">Iniciar secion</a>
	        </div>
			</div>
        </div>

</div>


{% endblock %}


{% block maestro_scripts %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock maestro_scripts %}
<script type="text/javascript">
	Materialize.updateTextFields();
</script>